body {
  display: flex;
  justify-content: space-around;
  margin-top: 0;
}
body header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 600px;
  max-width: 1260px;
  width: 100%;
  background: url('../img/background.png') no-repeat;
  background-position: center;
  background-size: cover;
}
body header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
body header nav > a {
  color: white;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
}
body header nav > a img {
  padding-right: 15px;
  vertical-align: middle;
  transition: .3s;
}
body header nav .logo:hover img {
  opacity: .7;
}
body header nav menu {
  display: flex;
  list-style: none;
  text-transform: uppercase;
}
body header nav menu li {
  padding-left: 15px;
}
body header nav menu li a {
  color: white;
  font-size: 20px;
  text-decoration: none;
  transition: .3s;
}
body header nav menu li a:hover {
  padding-bottom: 3px;
  color: #fc635e;
  border-bottom: 4px solid #fc635e;
}
body header .mainText {
  text-align: center;
}
body header .mainText h1 {
  font-size: 50px;
  text-transform: uppercase;
  color: white;
}
body header .mainText h1 span {
  color: #fc635e;
  font-weight: 400;
}
body header .mainText p {
  color: white;
  font-size: 24px;
}
body header .mainText a {
  padding: 12px 28px;
  color: #fc635e;
  font-size: 24px;
  text-decoration: none;
  border: 2px solid #fc635e;
  border-radius: .5rem;
  transition: .3s;
}
body header .mainText a:hover {
  background-color: #fc635e;
  color: white;
}
body header .botHeader {
  display: flex;
  justify-content: center;
}
body header .botHeader a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  color: white;
  font-size: 22px;
  font-weight: 200;
  text-decoration: none;
  border-radius: 50%;
  background-color: #fc635e;
  transition: .3s;
}
body header .botHeader a:hover {
  opacity: .7;
}
