body {
  max-width: 1260px;
  margin: 0 auto;
}
body a.arrowDown {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  color: #fc635e;
  font-size: 30px;
  font-weight: 200;
  text-decoration: none;
  border: 1px solid #fc635e;
  border-radius: 50%;
  transition: 0.3s;
}
body a.arrowDown:hover {
  background-color: #fc635e;
  color: white;
}
body a.btn {
  padding: 12px 28px;
  color: #fc635e;
  font-size: 24px;
  text-decoration: none;
  border: 2px solid #fc635e;
  border-radius: 0.5rem;
  transition: 0.3s;
}
body a.btn:hover {
  background-color: #fc635e;
  color: white;
}
body header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 600px;
  max-width: 1260px;
  width: 100%;
  background: url("../img/background.png") no-repeat;
  background-position: center;
  background-size: cover;
}
body header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
body header nav > a {
  color: white;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
}
body header nav > a img {
  padding-right: 15px;
  vertical-align: middle;
  transition: 0.3s;
}
body header nav .logo:hover img {
  opacity: 0.7;
}
body header nav menu {
  display: flex;
  list-style: none;
  text-transform: uppercase;
}
body header nav menu li {
  padding-left: 15px;
}
body header nav menu li a {
  color: white;
  font-size: 20px;
  text-decoration: none;
  transition: 0.3s;
}
body header nav menu li a:hover {
  padding-bottom: 3px;
  color: #fc635e;
  border-bottom: 4px solid #fc635e;
}
body header .mainText {
  text-align: center;
}
body header .mainText h1 {
  font-size: 50px;
  text-transform: uppercase;
  color: white;
}
body header .mainText h1 span {
  color: #fc635e;
  font-weight: 400;
}
body header .mainText p {
  color: white;
  font-size: 24px;
}
body .receive {
  margin-top: 0;
  padding: 70px 50px 10px 50px;
  text-align: center;
  color: #868686;
}
body .receive h1 {
  margin: 0;
  font-size: 40px;
  text-decoration: underline;
  text-transform: uppercase;
}
body .receive h1 span {
  color: #fc635e;
}
body .receive p {
  font-size: 22px;
  margin-bottom: 50px;
}
body .icons {
  display: flex;
}
body .icons h3 {
  position: relative;
  margin-top: 20px;
  margin-bottom: 35px;
  font-size: 20px;
  line-height: 1;
  letter-spacing: -0.005em;
  color: #868686;
  text-transform: uppercase;
}
body .icons h3::before {
  position: absolute;
  left: 50%;
  top: 33px;
  transform: translateX(-50%);
  content: "";
  display: block;
  height: 1px;
  width: 58px;
  background-color: #adadad;
}
body .icons p {
  font-size: 18px;
}
body .icons div {
  padding: 15px;
}
